* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    cursor: pointer;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    background-color: #eae3e3;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.piano {
    width: 1250px;
    height: 220px;
    position: relative;
    margin: 0 auto;
}

.white-keys {
    display: flex;
}

.white {
    width: 60px;
    height: 200px;
    background: white;
    border: 2px solid #333;
    box-shadow: 0 5px 3px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    font-size: 20px;
    user-select: none;
}

.black-keys {
    position: absolute;
    top: 0;
    left: 0;
}

.black {
    position: absolute;
    width: 40px;
    height: 120px;
    background: black;
    color: white;
    border-radius: 3px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 4px 3px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8px;
    font-size: 18px;
    z-index: 10;
    user-select: none;
}

.white:active,
.black:active {
    transform: translateY(4px);
    box-shadow: 0 2px 2px rgba(0,0,0,0.3) inset;
}

.pressed {
    transform: translateY(4px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}
