*{
margin:0%;
padding:0%;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
}
html,body{
width: 100%;
height: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
.card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}
.card h2{
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}
.card i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    opacity: 0;
    background-image: url(https://t3.ftcdn.net/jpg/01/14/77/58/360_F_114775804_4yfG9qbKp1NlF1RLo4MUlGIVj9MWhnnc.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;
}