* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    color: white;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elem{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #443c3c;
    border-radius: 10px;
    margin-top: 10px;
}

button{
  background-color: rgb(28, 51, 122);
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
}

button:active{
    scale: 0.95;
}