*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

#box{
    height: 200px;
    width: 200px;
    background-color: rgb(20, 120, 80);
    border: 5px solid white;
    border-radius: 10px;
}
button{
    width: 200px;
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
 button:active{
    scale: 0.95;
 }